.userIntro{
  display: flex;

  &_avatar{
    padding-right: 20px;

    &_image{
      width: 100px;
      height: 100px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
  }

  &_content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    &_title{
      font-size: 1.5rem;
      font-weight: 800;
    }
  }
}