.field-compact{
  position: relative;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .form-label{
    position: absolute;
    top: 43%;
    text-align: left;
    width: 100%;
    left: 5px;
    transition: all 0.2s ease-in-out;
    padding: 0;
    margin: 0;
  }

  .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0 5px;
    text-align: left;
    height: 31px;
  }

  &.isFilled{
    .form-label{
      top: 2px;
      font-size: 0.75rem;
    }
  }

  + .error-message{
    font-size: 0.8rem;
    color: red;
    padding-top: 5px;
    text-align: left;
  }
}