.form-avatar-upload{
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 150px;
  height: 150px;
  background-color: grey;
  margin: 60px auto 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex ;
  justify-content: center;
  align-items: center;

  &.isLoading:before{
    content: "\e901";
    font-family: 'inFit';
    font-size: 2rem;
  }

  input{
    display: none;
  }
}