@import '../../../public/styles/base/variables';

.card-arrangeMeeting{
  display: flex;
  padding: 15px 0 0;

  &_info{
    display: flex;
    flex-direction: column;
  }

  &_image{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    transform: translateY(-30px);
    margin-bottom: -30px;
    
    &_avatar{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.22);
    }
  }

  &_title{
    line-height: 1.3;
    font-size: 1.3rem;

    span{
      display: block;
    }

    strong{
      font-weight: 800;
    }
  }
}