.home-page{

  .hero{
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-image: url('/img/bg_hero_home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &:before{
      content: '';
      position:  absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($primary-color, 1);
      z-index: 1;
      opacity: 0.6;
    }

    h1{
      text-align: center;
      z-index: 2;
      position: relative;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 400;
      
      span{
        display: block;
        letter-spacing: 3px;

        &:first-child{
          color: #fff
        }
      }
    }
  }

  .fullSection{

    text-align: center;

    &.bg-coach{
      position: relative;
      padding-top: 150px;
      padding-bottom: 150px;
      background-color: $secondary-color;
      clip-path: polygon(0% 0%, 100% 20px, 100% 100%, 0% 100%);

      > *{
        z-index: 1;
        position: relative;
      }

      &:before{
        content: "";
        position: absolute;
        left: 0;
        top:0;

        background-image: url('/img/bg_client_home.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.6;
      }

      .btn + a{
        color: #fff;
        font-weight: 500;
      }
    }
  }
}