.home-page{

  .hero{
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-image: url('/img/bg_hero_home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &:before{
      content: '';
      position:  absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($primary-color, 0.7);
      z-index: 1;
    }

    h1{
      text-align: center;
      z-index: 2;
      position: relative;
      
      span{
        display: block;
        font-weight: 400;

        &:first-child{
          font-weight: 600;
        }
      }
    }
  }

  .fullSection{

    text-align: center;

    &.bg-coach{
      position: relative;
      padding-top: 150px;
      padding-bottom: 150px;
      background-color: $secondary-color;

      > *{
        z-index: 1;
        position: relative;
      }

      &:before{
        content: "";
        position: absolute;
        left: 0;
        top:0;

        background-image: url('/img/bg_client_home.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.6;
      }

      .btn + a{
        color: #fff;
        font-weight: 500;
      }
    }
  }
}