.signup-page{
  form{
    text-align: center;

    .form-group{
      text-align: left;

      select{
        margin-bottom: 20px;
      }
    }

    .btn{
      margin-top: 20px;
    }
  }

  .signupBtn{
    text-align: center;
  }
}