body{
  font-family: 'Lato', sans-serif;
}

h1{
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Alfa Slab One', cursive;
}

h2 {
  font-size: 1.125rem;
  font-family: 'Alfa Slab One', cursive;
}

a{
  color: $secondary-color;
  font-weight: 300;
}

