// ICOMOON

$icomoon-font-family: "inFit" !default;
$icomoon-font-path: "/fonts" !default;

$icon-card: "\e905";
$icon-fuerza: "\e902";
$icon-mantenerse: "\e903";
$icon-perder-peso: "\e904";
$icon-addPhoto: "\e901";
$icon-backLinksvg: "\e900";


// COLORS

$primary-color: #F7B500;
$secondary-color: #44D7B6;
$primary-dark: #FF6E4C;

