.bottom-menu{
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #333;
  padding: 18px;
  z-index: 22;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  a{
    display: block;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    max-width: 80px;
    text-align: center;
    min-height: 36px;
  }

}