.btn{
  width: 100%;
  max-width: 375px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 35px;
  border: 0;

  &:disabled{
    opacity: 0.3;
  }

  .spinner{
    display: none;
  }

  &.isLoading{
    position: relative;

    .spinner{
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-items: center;
      align-items: center;
      background-color: rgba(255,255,255,0.6);
      left: 0;
      top: 0;
      
      img{
        width: auto;
        height: 100%;
      }
    }
  }
  &-primary{
    background-color: $secondary-color;
    color: #000;
    text-decoration: none;
    font-weight: 400;
  }

  &-secondary{
    background-color: $primary-color;
    color: #000;
    text-decoration: none;
    font-weight: 400;
  }

}

.btn + a{
  margin-top: 10px;
}

a{
  display: block;
}