.btn{
  background-color: $primary-color;
}

.btn{
  width: 100%;
  max-width: 375px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 35px;
  border: 0;

  &:disabled{
    opacity: 0.3;
  }

  .spinner{
    display: none;
  }

  &.isLoading{
    position: relative;

    .spinner{
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-items: center;
      align-items: center;
      background-color: rgba(255,255,255,0.6);
      left: 0;
      top: 0;
      
      img{
        width: auto;
        height: 100%;
      }
    }
  }
  &-primary{
    background-color: $primary-color;
    color: #000;
    text-decoration: none;
    font-weight: 400;

    &.disabled,
    &:disabled{
      background-color: $primary-color;
    }
  }

  &-secondary{
    background-color: $secondary-color;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
  }

  &-dark{
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
  }

}


#root .btn:focus,
#root .btn-primary:hover{
  box-shadow: none;
  background-color: $secondary-color!important;
}

#root .btn-primary:not(:disabled):not(.disabled):active, #root .btn-primary:not(:disabled):not(.disabled).active, #root .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary-color!important;
  border-color: none;
}
#root .btn-secondary:disabled{
  background-color: $secondary-color!important;
  opacity: 0.4;
}


.btn + a{
  margin-top: 10px;
}

a{
  display: block;
}