.dashboard-coach a{
  margin-top: 20px;
  width: 100%;
  display: block;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid $secondary-color;
  border-radius: 20px;
}
