.field-compact{
  .form-label{
    font-size: 1rem;
  }
  .form-control{
    &:focus{
      box-shadow: none;
    }
    font-size: 1rem;
  }
}

.error-message{
  font-size: 0.8rem;
  color: red;
  padding-top: 5px;
  text-align: left;
  font-weight: 300;
}

.form-label{
  text-align: left;
  width: 100%;
  left: 5px;
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin: 0;
  pointer-events: none;
  font-weight: 300;
  font-size: 1rem;
}

select.form-control{
  margin-bottom: 5px;
}

.form-group{
  margin: 0;
}

.button-check,
.pack-check {

  padding-left: 0;
  margin-bottom: 20px;

  input{
    position: absolute;
    z-index: 0;
  }

  label{
    width: 100%;
    border-radius: 24px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background-color: white;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    span{
      font-size: 1.4em;
      margin-right: 10px;
    }
  }

  input:checked + label{
    background-color: rgba($secondary-color, 1);
    color: white;
  }
}

.pack-check {
  .form-check-label{
    display: flex;
    padding: 10px 40px;
    height: auto;
    border-radius: 30px;

    > * {
      width: 50%;
      text-align: right;
    }

    &_content{
      text-align: left;

      .pack-check_name{
        font-size: 1rem;
        font-weight: 800;
      }

      .pack-check_duration{
        font-weight: 300;
      }
    }

    .pack-check_price,
    .pack-check_price span{
      font-size: 1.3rem;
      font-weight: 800;

      span{
        margin: 0;
      }
    }
  }
}

// coach availability

.availabilityCoach{

  .form-label{
    margin-bottom: 8px;
  }

  .form-group{
    display: flex;
    align-items: center;

    .form-label{
      width: auto;
      padding: 0 8px;
      margin: 0;

      &:first-of-type{
        padding-left: 0;
      }
    }
    .form-control{
      width: auto;

      &.is-valid{
        padding-right: 0.75rem;
        background-image: none;
      }
    }
  }
}
