.loadingWrapper{
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &.spinner{
    height: 100px;

    image{
      height: 100%;
      width: auto;
    }

    p{
      font-size: 1.5rem;
      text-align: center;
    }

  }

  &.is-active{
    opacity: 100%;
    pointer-events: all;
  }
}