.nextBlock{
  margin: 20px 0;

  h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
  }

  &_content{
    display: inline-flex;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    border-top: 4px solid $secondary-color;

    &_intro{
      padding-left: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        span{
          display: block;
          font-size: 1.6rem;
          line-height: 1.1;
          font-weight: 800;

          &:first-child,
          &:last-child{
            font-size: 1.2rem;
            font-weight: 400;
          }

          &:last-child{
            font-size: 1.1rem;
            margin-top: 4px;
          }
        }
      } 
    }

    &_image span{
      width: 80px;
      height: 80px;
    }
  }

  &_resume{

    dl{
      font-size: 0.9rem;
      display: flex;
      width: 100%;

      dt{
        padding-right: 10px;
        width: 84px;
      }
    }
  }
}